/*primary color*/
.bg-cream {
    background-color: #FFF2E1;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #F48C06;
}
.text-yellow-500 {
    color: #F48C06;
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}

.font-large{
    font-size: 2.5rem;
}
.partner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 12%; */
    /* height: 10%; */

}
.partner-content .partnersImage{
        width: 15%;
    }
.partner-content .partnersImage img{


}
.card-list ul{
    list-style: circle;
}
.card-list ul li{
    list-style: disc;
    width: 100%;
    text-align: left;
}
.card-list{
    display: flex;
    justify-content: center;
}
.card-content{
    margin-bottom: 30px;
}
.card-content img{
    max-width: 67%;
}
.logo img{
    width: 13%;
    height: auto;
}
#home-image img{
    /* height: 80%; */
}
#girl>img{
    width: 100%;
    margin: 85px 0px 105px 0px;
    /* margin-top: 0px; */
}
footer .logo img{
    width: 23%;
}

@media  screen and (max-width: 566.98px) {
    #girl>img {
        margin: 42px 0px;
        margin-top: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    

}
@media (min-width: 768px) and (max-width: 991.98px) { 

}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
 
}
@media (min-width: 1399.98px) { }